<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Clickbait Classifier</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div id="content">
			<h1>Clickbait or not?</h1>
            {% from "_formhelpers.html" import render_field %}
            <form method=get action="/">
              <dl>
                {{ render_field(form.headline) }}
              </dl>
              <p><input type=submit value="Submit headline!"></p>
            </form>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul class=flashes>
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
                </ul>
              {% endif %}
              {% endwith %}
            <div id = "clickPercentage">
                <div id="bar"></div>
            </div>
            <div id = "description">
				<h2>What is this?</h2>
				<p>Clickbait Classifier is a convolutional neural network, which is trained to distinguish clickbait headlines from more sober ones. It is an implementation in tensorflow of Yoon Kim's 2014 paper, <a href="https://arxiv.org/abs/1408.5882"> Convolutional Neural Networks for Sentence Classification</a>.</p>
            
				<p>It is also open source! You can read the source, and learn more about it on <a href="https://github.com/SuddenlyBananas/Clickbait-Classifier">GitHub</a></p>
            </div>
            <div id="author-sect">
				<a href="http://michaelgoodale.com">You can find out more about the author here</a>
			</div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='move.js')}}" data-clickbait="{{ percentClickbait }}">
        </script>
    </body>
</html>
